
#bluebar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: #000;
  z-index: 100;
  /*background: #446791;*/
}
#bluebar hr{
  height:20px;
  /*background:#446791;*/
  /*margin: 0px;*/
}
.bluebarBuffer{
  height:50px;
  /*background:#058947;*/
}
hr {
  height:1px;
  background: #000;
  /*background:#446791;*/ 
  margin: 0px;
}