.board{
    background: #21475c;
    width: 250px;
    height: 140px;
    margin-top: 25px;
    margin: auto;
}
.leftboard{
    position: relative;
    display: inline-block;
    width: 35%;
    height: 100%;
    float: left;
}
.centerboard{
    position: relative;
    display: inline-block;
    width: 47%;
    height: 100%;
    float: left;
    padding: 10px 0px 10px 10px;
}
.rightboard{
    position: relative;
    display: inline-block;
    width: 15%;
    height: 100%;
    float: left;
}
.topcenter{
    position: relative;
    height: 50%;
    vertical-align: top;
}
.bottomcenter{
    position: relative;
    height: 50%;
    vertical-align: bottom;
}
.topslots{
    display: block;
}
.bottomslots{
    display: block;
    position: absolute;
    bottom: 0px;
}
.io-slot{
    display: inline-block;
    height: 8px;
    background: #282828;
}
#topleft{
    width: 32px;    
}
#topright{
    width: 48px;
}
#bottomleft{
    width: 43px;
}
#bottomright{
    width: 52px;
}
.chips{
    margin-top: 24px;
    margin-left: 5px;
}
.chip{
    position: relative;
    background: #ccc;
    width: 56px;
    height: 40px;
    float: right;
}
.chipholder{
    position: relative;
    background: #2f6292;
    width: 74px;
    height: 52px;
    padding: 4px 3px;
}
#usb{
    width: 36px;
    height: 28px;
    background: #999;
    position:relative;
    float: right;
    right: -25px
}
#portbuffer{
    height: 10px;
}
#power{
    width: 32px;
    height: 20px;
    margin-bottom: 10px;
    background: #282828;
    position:relative;
    float: right;
    right: -20px
}
.io-slot{
}
.buttons{
    padding-top: 4px;
    padding-left: 5px;
    position: relative;
}
.button{
    margin: 0px 2px;
    height: 10px;
    width: 8px;
    background: #d0d0d0;
    position: relative;
    display: inline-block;
}
.firstrow{
    margin-top: 5px;
    display: block;
}
.secondrow{
    display: block;
    margin-left: 30px;
}
