.profpic {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    background: url(prof_pic.jpg) no-repeat;
    background-size: 150%;
    background-position: 0px 0px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 60px;
}

.header {
    min-height: 50px;
    width: 100%;
}
#title {
    display: inline-block;
}
h1 {
    display: inline;
}
body {
  font-size: 14px;
}
a {
  color: #000;
  text-decoration: none;
}
