.menuBuffer {
  width: 5%;
  float: left;
  text-align: center;
}
.menuItem {
  width: 30%;
  float: left;
  text-align: center;
  padding-bottom: 8px;
}
.profpic {
    margin: 0px auto 10px auto;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
    background: url(prof_pic.jpg) no-repeat;
    background-size: 230px, auto;
    background-position: 0px 0px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
}
#projectsLink{
  font-family: Georgia, serif;
  /*background-color: #FDF3E7;*/
  background-color: transparent;
}
#aboutLink{
  font-family: Georgia, serif;
  /*background-color: #FDF3E7;*/
  background-color: transparent;
}
#resumeLink{
  font-family: Georgia, serif;
  /*background-color: #FDF3E7;*/
  background-color: transparent;
}
#projectsLink:hover{
  background: #eee;
  cursor: pointer;
}
#aboutLink:hover{
  background: #eee;
  cursor: pointer;
}
#resumeLink:hover{
  background: #eee;
  cursor: pointer;
}
#menuTop {
  margin: auto;
  text-align: center;
  width: 325px;
}
#menuTop h1{
    color: #fff;
}
#menuBottom {
}
#topBuffer {
  height: 200px;
  /*background:#492738;*/
}
.projectsBuffer{
  height: 0px;
}
.container{
  max-width: 950px;
  padding: 0px 50px;
  height: 100%;
  min-height: 2000px;
}
h1 {
  font-family: Lato, Calibri, Arial, sans-serif;
  margin: 20px 0px 10px 0px;
}
h4 {
  font-family: Baskerville, serif;
  margin: 0px;
}
body {
  margin: 0;
  font-family: Lato, Calibri, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  /*background-color: #FDF3E7;*/
  /*background-color: #FFF;*/
  background-image: url('../IMG_5104.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 2000px;
}
a {
  /*color: #000;*/
  text-decoration: none;
}
/*a:focus {
  background: #ccc;
}
a:hover,
a:active {
  background: #ccc;
}*/
